@import url('base_style.css');

.main-container {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  margin: 0 auto;
}

.main-content {
  flex: 1;
  padding: 0rem;
  overflow-y: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.about {
  background-color: var(--bg-panel);
  padding: 20px;
  border-radius: 12px;
  max-width: 1000px;
  margin: 0 auto 20px auto;
  box-shadow: 0 0 12px var(--shadow-card);
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.avatar img {
  width:100%;
  height: 100%;
  object-fit: cover;
}

.card {
  background: var(--bg-card);
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.project_links {
  text-decoration: none;
  color: var(--text-accent);
}

.project_links:hover {
  text-decoration: underline;
}

.project_header {
  text-decoration: none;
  color: var(--text-main);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 18px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
}

.gallery-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  zoom: 2.0;
}

figcaption {
  text-align: center;
  font-size: 0.85em;
  margin-top: 6px;
  color: #aaa;
}

.tweet-embed {
  max-width: 550px;
  margin: 0 auto;
}

#block_I_logo {
  display: block;
  margin: auto;
}

.books_list {
  padding-left: 30px;
}

.books_list li {
  margin: 10px 0;;
}

#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
}


/* Style each of the sides 
  with a fixed width and height */
.slide {
    float: left;
    height: 510px;
    width: 728px;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.slide-shade {
    float: left;
    height: 510px;
    width: 728px;
}

.slide-shade img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* Add animation to the slides */
.slideshow_container_turkey{

    /* Calculate the total width on the
    basis of number of slides */
    width: calc(728px * 5);

    display: flex;

    /* Specify the animation with the
    duration and speed */
    animation: slide 20s ease infinite;
}

.slideshow_container_shades{

    /* Calculate the total width on the
    basis of number of slides */
    width: calc(728px * 7);

    display: flex;

    /* Specify the animation with the
    duration and speed */
    animation: slide 21s ease infinite;
}

@keyframes slide {
  0%, 16% {
    transform: translateX(0);
  }
  20%, 36% {
    transform: translateX(calc(-728px * 1));
  }
  40%, 56% {
    transform: translateX(calc(-728px * 2));
  }
  60%, 76% {
    transform: translateX(calc(-728px * 3));
  }
  80%, 96% {
    transform: translateX(calc(-728px * 4));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-shade {
  /* Slide 1 */
  0%, 11% {
    transform: translateX(0);
  }
  /* Transition to & pause on Slide 2 */
  14%, 25% {
    transform: translateX(calc(-728px * 1));
  }
  /* Transition to & pause on Slide 3 */
  28%, 39% {
    transform: translateX(calc(-728px * 2));
  }
  /* Transition to & pause on Slide 4 */
  42%, 53% {
    transform: translateX(calc(-728px * 3));
  }
  /* Transition to & pause on Slide 5 */
  56%, 67% {
    transform: translateX(calc(-728px * 4));
  }
  /* Transition to & pause on Slide 6 */
  70%, 81% {
    transform: translateX(calc(-728px * 5));
  }
  /* Transition to & pause on Slide 7 */
  84%, 95% {
    transform: translateX(calc(-728px * 6));
  }
  /* Reset back to Slide 1 */
  100% {
    transform: translateX(0);
  }
}