@import url('../base_style.css');

.dev-card {
    --bg-card: #0a0b0e; /*#fefae0;*/
    background: var(--bg-card);
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}



@media (max-width: 840px){
    .dev-card {
        padding: 12px 10px;
    }

    .dev-card h3,
    .dev-card h4 {
        margin-bottom: 6px;
    }
}